# Port number
PORT=3000

NODE_ENV=development

# Postgrees DB credentials
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=

# JWT
# JWT secret key
JWT_SECRET=thisisasamplesecret

# Node mailer configuration options for the email service
EMAIL=
PASS =